# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/build.ninja
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-4080676b99647453516b.json
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/Homework_01/Ex_01/cmake_install.cmake
/cmake-build-debug/Homework_01/Ex_02/cmake_install.cmake
/cmake-build-debug/Homework_01/Ex_03/cmake_install.cmake
/cmake-build-debug/Homework_01/Ex_04/cmake_install.cmake
/cmake-build-debug/Homework_01/cmake_install.cmake
/cmake-build-debug/Homework_02/Ex_01/cmake_install.cmake
/cmake-build-debug/Homework_02/cmake_install.cmake
/cmake-build-debug/Homework_03/cmake_install.cmake
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/3.25.2/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.25.2/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-b578cb25c0d77afb70f5.json
/cmake-build-debug/CMakeFiles/CMakeOutput.log
/cmake-build-debug/CMakeFiles/3.25.2/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.25.2/CMakeSystem.cmake
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-74e3fddfb08fac901301.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/cmake-build-debug/.cmake/api/v1/reply/directory-Homework_01.Ex_01-Debug-f19c4740aab78fc6c11e.json
/cmake-build-debug/.cmake/api/v1/reply/directory-Homework_01.Ex_02-Debug-c9e66aaf280728e8489d.json
/cmake-build-debug/.cmake/api/v1/reply/directory-Homework_01.Ex_03-Debug-9bb8f535a51291f2f990.json
/cmake-build-debug/.cmake/api/v1/reply/directory-Homework_01.Ex_04-Debug-52b923b242a4f9489c04.json
/cmake-build-debug/.cmake/api/v1/reply/directory-Homework_01-Debug-48f4d2b15e90bebc0b0e.json
/cmake-build-debug/.cmake/api/v1/reply/directory-Homework_02.Ex_01-Debug-1be9b3813c68ec211979.json
/cmake-build-debug/.cmake/api/v1/reply/directory-Homework_02-Debug-0d03a115a0a1070e32f3.json
/cmake-build-debug/.cmake/api/v1/reply/directory-Homework_03-Debug-36c4c6ae717e96bc8901.json
/cmake-build-debug/.cmake/api/v1/reply/index-2024-02-07T00-35-29-0069.json
/cmake-build-debug/Testing/Temporary/LastTest.log
/.idea/misc.xml
/.idea/modules.xml
/.idea/Quant_Homework.iml
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/.cmake/api/v1/reply/target-Hwk_01_Ex_01_main-Debug-8390b77bff919534e388.json
/cmake-build-debug/.cmake/api/v1/reply/target-Hwk_01_Ex_02_main-Debug-922e601284318c427d6e.json
/cmake-build-debug/.cmake/api/v1/reply/target-Hwk_01_Ex_03_main-Debug-f425e3ccd8e259db4310.json
/cmake-build-debug/.cmake/api/v1/reply/target-Hwk_01_Ex_04_main-Debug-e8f55a6c168d2e66361b.json
/cmake-build-debug/.cmake/api/v1/reply/target-Hwk_02_Ex_01_main-Debug-01396f37216c8c74849b.json
/cmake-build-debug/.cmake/api/v1/reply/target-Hwk_03_main-Debug-94e8257b3ffe1ef0cfca.json
/cmake-build-debug/.cmake/api/v1/reply/target-main-Debug-4151eccf9d909e7e7ec7.json
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-f24c8e2b1d8664614307.json
/.idea/vcs.xml
